h1{
    color:green;
    font-size: 50px;
}

h2{
    color:rgb(0, 158, 0);
    font-size: 30px;
}

h3{
    color:rgb(0, 167, 0);
    font-size: 20px;
}
img{
    border-radius: 30px;
    cursor: pointer;
}
button.youtube-button{
    color:white;
    background-color: rgb(204, 0, 0);
    border: none;
    height: 36px;
    width: 150px;
}