.img1{
    width: 300px;
    
}

.input1{
    font-size: 12px;
    display: block;
}

.div1{
    width: 300px;
    display: inline-block;
    margin-right: 15px;
}

.div2{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}