.img1{
    width: 100%;
}

.small_images{
    width: 90%;
    vertical-align: top;
}

.film_title{
    display: inline-block;
    width: 200px;
    margin-top: 0px;
}

.img1_1{
    width: 100%;
    border-radius: 50px;
}

.image_margine{
    margin-bottom: 12px;
}

.font_title{
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.font_title2{
    font-family: Roboto, Arial;
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.p_margin{
    margin-top: 15px;
    margin-bottom: 5px;
}

.p_margin1{
    margin-top: 0px;
    margin-bottom: 0px;
}

.head_div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 86px;
    padding-left: 70px;
    background-color: rgb(250, 250, 250);
}

.grid1{
    display: grid;
    grid-template-columns: 60px 1fr;
}

body{
    margin: 0px;
}

.searchengine{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240, 240)
}
.lewo{
    display: flex;
    align-items: center;
}

.srodek{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 70px;
    max-width: 638px;
}

.input1{
    font-size: 12px;
    display: block;
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-radius: 20px 0 0 20px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.input1::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.input1:focus{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(52, 50, 212);
    outline: none;
    transition: border-color 0.15s;
}

.prawo{
    display: flex;
    align-items: center;
}

.menu1{
    height: 22px;
    margin-left: 24px;
    margin-right: 26px;
}

.menu1:hover{
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
}

.menu2{
    height: 20px;
}

.menu3{
    height: 26px;
    margin-top: 4px;
}

.przyciskszukania{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-radius: 0px 20px 20px 0px;
    margin-right: 16px;
    height: 40px;
    margin-left: -1px;
    width: 68px;
    background-color: rgb(245, 245, 245);
}

.przyciskszukania:hover{
    background-color: rgb(235, 235, 235);
}

.menu4{
    height: 26px;
    margin-top: 4px;
}

.przycisknagrywania{
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 50px;
    height: 40px;
    border: none;
    background-color: rgb(245, 245, 245);
}

.przycisknagrywania:hover{
    background-color: rgb(235, 235, 235);
}

.menu5{
    height: 32px;
    margin-right: 16px;
}

.menu5:hover{
    background-color: rgb(235, 235, 235);
}

.menu6{
    height: 32px;
    margin-right: 16px;
}

.menu6:hover{
    background-color: rgb(235, 235, 235);
}

.menu7{
    height: 32px;
    margin-right: 16px;
}

.menu7:hover{
    background-color: rgb(235, 235, 235);
}

.menu8{
    height: 32px;
    margin-right: 30px;
}

.panelboczny{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 75px;
}